@import "./variables.scss";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #303030;
    &.active{
        z-index: 50;
    }
    .icon{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 20px;
        top: 25%;
        left: 10%;
        z-index: 10;
        cursor: pointer;
        .hamburger{
            transform: translate(-50%, -50%);
            width: 30px;
            height: 3px;
            top: 20%;
            left: 10%;
            background: #939087;
            box-shadow: 0 2px 5px rgba(0,0,0,.2);
            transition: .5s;
        }
        .hamburger:before,
        .hamburger:after{
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background: #939087;
            box-shadow: 0 2px 5px rgba(0,0,0,.2);
            transition: .5s;
        }
        .hamburger:before{
            top: -8px;
        }
        .hamburger:after{
            top: 8px;
        }
        &.active{
            .hamburger{
                background: rgba(0,0,0,0);
                box-shadow: 0 2px 5px rgba(0,0,0,0);
            }
            .hamburger:before{
                top: 0;
                transform: rotate(45deg);
            }
            .hamburger:after{
                top: 0;
                transform: rotate(135deg);
            }
        }
        @media(max-width: $laptop){
            display: flex;
        }
    }
    .sidebar{
        margin:0 100px;
        z-index: 1;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        .profile-name{
            font-family: 'Zilla Slab', serif;
            font-size: 1.4rem;
            font-weight: 600;
            color: #939087;
            text-decoration: none;
            @media(max-width: $laptop){
                position: absolute;
                margin-top: 0;
                top: 10%;
                left: 40%;
            }
        }
        .nav-list{
            position: relative;
            display: flex;
            justify-content: center;
            color: #939087;
            letter-spacing: 2px;
            list-style-type: none;
            .nav-item{
                display: flex;
                flex-direction: column;
                font-family: 'Zilla Slab', serif;
                font-size: 15px;
                font-weight: 600;
                margin-right: 50px;
                &.disabled::before{
                    content: 'Yakında';
                    position: absolute;
                    padding: 5px;
                    font-size: 10px;
                    font-weight: bold;
                    top: -15%;
                    left: 85%;
                    transform: translate(-50%, -50%);
                    color: white;
                    background-color: rgba(255, 0, 0, 0.199);
                    transform: rotate(30deg);
                    cursor: default;
                }
                &.disabled{
                    hr{
                        display: none;
                    }
                    .btn{
                        cursor: default;
                    }
                }
                a{
                    text-decoration: none;
                    color: #939087;
                }
                hr{
                    transition:width .3s  ease-in-out;
                    width: 0;
                    padding: 1px 0;
                    border: none;
                    background-color: #fff;
                }
            }
            .nav-item:hover{
                cursor: pointer;
                hr{
                    width: 100%;
                }
            }
            @media(max-width: $laptop){
                display: none;
            }
        }
        .nav-list.active{
            display: flex;
        }
        .social-media{
            margin-bottom: 20px;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .spacer{
                padding: 10px;
            }
            .line{
                position: relative;
                width: 100%;
                padding: .5px 0;
                border: none;
                background: #fff;
            }
            .social-media-items{
                position: relative;
                display: flex;
                justify-content: space-evenly;
                img{
                    width: 8%;
                    filter:saturate(0.2);
                    @media(max-width: $laptop){
                        width: 3%;
                        margin-right: 15px;
                    }
                }
                img:hover{
                    cursor:pointer;
                }
                @media(max-width: $laptop){
                    justify-content: center;
                }
            }
            @media(max-width: $laptop){
                display: none;
            }
        }
        .social-media.active{
            display: flex;
        }
        @media(max-width: $laptop){
            justify-content: center;
            height: 60vh;
        }
    }
    @media(max-width: $laptop){
        width: 100%;
        height: 10vh;
    }
}

