@import "./variables.scss";

.full-bg{
    position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        background: #E5E3D6;
        z-index: -10;
}