@import "./variables.scss";



.blog-main{
    font-family: 'Zilla Slab', serif;
    margin-left: 315px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blog-img{
        z-index: -1;
        position: fixed;
        top: -4%;
        width: 105%;
        height: 100px;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }
    .blog-container{
        position: relative;
        top: 250px;
        margin-bottom: 50px;
        width: 75%;
        height: auto;
        padding: 40px;
        background: #e9e9e9;
        box-shadow: 0 12px 25px -2px black;
        .blog-content{
            width: 100%;
            .blog-title{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .box{
            width: 200px;
            height: 300px;
            margin-bottom: 10px;
            background: #fff;
        }
        .line{
            margin-top: 50px;
            margin-bottom: 30px;
            width: 100%;
            height: 1px;
            background: #303030;
            .two{
                margin-bottom: 50px;
            }
        }
        .suggest-container{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            .suggest-title{
                text-align: center;
            }
            .suggest-box{
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                a{
                    text-emphasis: none;
                }
                .suggest-blog{
                    position: relative;
                    top: 0;
                    overflow: hidden;
                    cursor: pointer;
                    margin: 20px 25px 0px 0px;
                    width: 300px;
                    height: 300px;
                    background: #303030;
                    box-shadow: 0 25px 35px -15px #000000;
                    transition: all 700ms ease;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 700ms ease;
                    }
                    .blog-description{
                        visibility: hidden;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: #e9e9e9;
                        transition: all 300ms ease;
                        .blog-title{
                            font-weight: 600;
                            text-align: center;
                        }
                        .blog-subtitle{
                            font-size: 15px;
                        }
                        .blog-date{
                            padding-right: 5px;
                            text-align: right;
                            font-size: 13px!important;
                        }
                    }
                    &:hover{
                        top: -10px;
                        img{
                            height: 50%;
                        }
                        .blog-description{
                            visibility: visible;
                        }
                        
                    }
                    
                }
            }
        }
        .share{
            z-index: 2;
            display: flex;
            width: 100%;
            justify-content: center;
            height: 100px;
            .share-btn{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background: #f1f1f1;
                margin: 10px;
                border-radius: 30%;
                box-shadow: 0 5px 15px -5px #000000;
                color: #3498db;
                overflow: hidden;
                position: relative;
                img{
                    width: 35%;
                    filter: saturate(0);
                    transition: .2s ease;
                }
                &:hover{
                    img{
                        width: 45%;
                        filter: saturate(1);
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 120%;
                    height: 120%;
                    background: #303030;
                    transform: rotate(45deg);
                    left: -110%;
                    top: 90%;
                }
                &:hover::before{
                    animation: aaa 1s 1;
                    top: -10%;
                    left: -10%;
                }
                @keyframes aaa {
                    0%{
                        left: -110%;
                        top: 90%;
                    }50%{
                        left: 10%;
                        top: -30%;
                    }100%{
                        top: -10%;
                        left: -10%;
                    }
                }
            }
        }
    }
    @media(max-width: $laptop){
        margin-top: 5vh;
        margin-left: 0;
    }
}