@import "./variables.scss";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    h3{
        padding: 50px;
    }

    @media(max-width: $laptop){
        margin-top: 5vh;
        margin-left: 0;
    }
}

