@import "./variables.scss";

.container {
    width: 1345px;
    min-width: 1345px;
    margin: 0 auto;
    @media (max-width: $widescreen) {
      width: 1153px;
      min-width: 1153px;
    }
    @media (max-width: $desktop) {
      width: 961px;
      min-width: 961px;
    }
    @media (max-width: $laptop) {
      width: 767px;
      min-width: 767px;
    }
    @media (max-width: $tablet) {
      width: 481px;
      min-width: 481px;
    }
    @media (max-width: $mobile) {
      width: 500x;
      min-width: 320px;
    }
    .row {
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
  }

  



#banner {
    position: relative;
    .row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        margin-left: 50px;
        height: auto;

        .box {
            position: relative;
            flex: 25%;
            display: flex;
            align-items: center;
            width: 100%;
            height: 250px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 8px 8px 10px gray;
            overflow: hidden;
            img{
                flex: 1;
                height: 100%;
                border-radius: 10px;
                filter: brightness(0.45);
            }

            .food-info {
                position: absolute;
                display: flex;
                padding: 10px 0 0 20px;
                flex-direction: column;
                justify-content: space-between;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                h3 {
                    font-family: 'Zilla Slab', serif;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #fff;
                }
                span{
                    color:#b3b3b3;
                }
                .food-details{
                    display:flex;
                    padding: 0 30px 30px 10px;
                    justify-content: space-between;
                    align-items: center;
                    .cooking-information{
                        display:flex;
                        width: 100%;
                        height: auto;
                        justify-content: flex-end;
                        .cooking-time{
                            margin-right: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        .cooking-information-article{
                            margin-top: 10px;
                            font-family: 'Zilla Slab', serif;
                            font-size: 0.75rem;
                            font-weight: 700;
                            color: #fff;
                        }
                        @media(max-width: $tablet){
                            display:none;
                        }
                    }
                    .cooking-button{
                        a{
                            height: 40px;
                            font-size: .7rem;
                            padding: 15px 25px 15px 25px;
                            text-decoration: none;
                            font-weight: 600;
                            background:rgba(0,0,0,.6);
                            color: #fff;
                            border-radius: 6px;
                            transition: .2s ease-in-out;
                            &:hover{
                                background: #fff;
                                color: #000;
                                cursor: pointer;
                            }
                            @media(max-width: $tablet){
                                padding: 7px 45px 7px 45px;
                                font-size: .65rem;
                            }
                        }
                    }

                    @media(max-width: $laptop){
                        padding: 0 10px 30px 2px;
                    }
                    @media(max-width: $tablet){
                        justify-content: center;
                    }
                }
            }
            
            &:nth-child(2){
                flex: 58%;
            }
            @media(max-width: $laptop){
                &:nth-child(1){
                    flex: 50%;
                }
                flex: 25%;
            }
            @media(max-width: $tablet){
                height: 150px;
                flex: 33%;
                &:nth-child(1){
                    flex: 50%;
                }

                .food-info{
                    h3{
                        font-size: 0.8rem;
                    }
                    span{
                        font-size: 0.5rem;
                    }
                }
            }
        }
        @media (max-width:$laptop){
            margin-right: 5px;
            margin-left: 5px;
            height: auto;
            
        }
        @media (max-width:$tablet){
            margin-right: 5px;
            margin-left: 5px;
            height: 700px;
            
        }
    }
}



