@import "./variables.scss";


.main-page{
    display: flex;
    margin-left: 315px;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
    .blogs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .blog-box{
            position: relative;
            width: 300px;
            height: 300px;
            background: #303030;
            transform: rotateZ(-45deg);
            transition: .5s;
            img{
                width: 300px;
                height: 300px;
                object-fit: cover;
                filter:saturate(0);
                transition: .5s;
                @media(max-width: $laptop){
                    filter:saturate(1);
                    width: 200px;
                    height: 120px;
                }
            }
            .blog-summary{
                z-index: -1;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20%;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                transition: .5s;
                text-align: center;
                p{
                    color: #908E87;
                    @media(max-width: $laptop){
                        font-family: 'Zilla Slab', serif;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 30px;
                    background: none;
                    border: 4px solid;
                    color: #939087;
                    font-family: 'Zilla Slab', serif;
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    text-decoration: none;
                    @media(max-width: 1366px){
                        width: 90px;
                        height: 20px;
                        font-size: 11px;
                        border: 2px solid;
                    }
                    @media(max-width: $laptop){
                        width: 90px;
                        height: 20px;
                        font-size: 9px;
                        border: 2px solid;
                    }
                }
                .btn::before,.btn::after{
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background: #fff;
                    transform: skewX(50deg);
                    transition: .4s linear;
                    @media(max-width: 1366px){
                        width: 2px;
                        height: 2px;
                    }
                    @media(max-width: $laptop){
                        display: none;
                    }
                }
                .btn::before{
                    top: -4px;
                    left: 10%;
                }
                .btn::after{
                    bottom: -4px;
                    right: 10%;
                }
                .btn:hover::before{
                    left: 80%;
                }
                .btn:hover::after{
                    right: 80%;
                }
                @media(max-width: $laptop){
                    z-index: 5;
                    opacity: 1;
                    bottom: 5%;
                }
            }
            @media(max-width: 1366px){
                width: 220px;
                height: 220px;
                img{
                    width: 220px;
                    height: 220px;
                }
            }
            @media(max-width: $laptop){
                transform: none;
                margin: 10px;
                width: 200px;
                height: 200px;
                box-shadow: 0 12px 25px -2px black;
            }
        }
        .blog-box:hover{
            z-index: 10;
            transform: rotateZ(0);
            opacity: 1;
            box-shadow: 0 12px 25px -2px black;
            img{
                width: 300px;
                height: 200px;
                filter:saturate(1);
                @media(max-width: 1366px){
                    width: 220px;
                    height: 120px;
                }
                @media(max-width: $laptop){
                    width: 200px;
                    height: 120px;
                }
            }
            .blog-summary{
                opacity: 1;
                bottom: 5%;
                .blog-title{
                    text-align: center;
                }
            }
            @media(max-width: $laptop){
                z-index: inherit;
                transform: none;
            }
        }
    }
    .pagination{
        display: flex;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 5%;
        .page{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            width: 25px;
            height: 25px;
            border: 1px solid #303030;
            transition: .3s;
            img{
                width: 12px;
                height: 12px;
            }
            &:first-child{
                transform: rotate(180deg);
                border: none;
                padding: 2px;
            }
            &:last-child{
                border: none;
                padding: 1px;
            }
        }
        .page:hover{
            cursor: pointer;
            background: #939087;
            color: #fff;
        }
        @media(max-width: $laptop){
            left: 40%;
        }
    }
    @media(max-width: 1366px){
        padding: 50px 25px 0px 25px;
    }
    @media(max-width: $laptop){
        margin-top: 5vh;
        margin-left: 0;
        padding: 50px 50px 0px 50px;
    }
}
