@import "./variables.scss";

.container {
    width: 1345px;
    min-width: 1345px;
    margin: 0 auto;
    @media (max-width: $widescreen) {
      width: 1153px;
      min-width: 1153px;
    }
    @media (max-width: $desktop) {
      width: 961px;
      min-width: 961px;
    }
    @media (max-width: $laptop) {
      width: 767px;
      min-width: 767px;
    }
    @media (max-width: $tablet) {
      width: 481px;
      min-width: 481px;
    }
    @media (max-width: $mobile) {
      width: 500x;
      min-width: 320px;
    }
    .row {
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
  }

  

header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 10;

    .container-fluid{
        .header-hr {
            position: absolute;
            left: 0;
            right: 0;
            top: 10;
            bottom: 0;
            margin-left: 50px;
            margin-right: 50px;
        }
        .header-inner {
            position: relative;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .logo {
                font-family: 'Zilla Slab', serif;
                font-size: 1.875rem;
                font-weight: 700;
                color: $blue;
            }
            .navigation{
                position: relative;
                display: flex;
                justify-content: center;
                nav {
                    ul {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        li {
                            list-style: none;
                            margin: 0 10px;
                            @media (max-width: $widescreen) {
                                margin: 0 8px;
                            }
                            a{
                                font-size: .8rem;
                                padding: 4px 0;
                                font-weight: 600;
                                color: $blue;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            @media(max-width: $tablet){
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

#banner {
    position: relative;
    .row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        margin-left: 50px;
        height: auto;

        .box {
            position: relative;
            flex: 25%;
            display: flex;
            align-items: center;
            width: 100%;
            height: 250px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 8px 8px 10px gray;
            overflow: hidden;
            img{
                flex: 1;
                height: 100%;
                border-radius: 10px;
                filter: brightness(0.45);
            }

            .food-info {
                position: absolute;
                display: flex;
                padding: 10px 0 0 20px;
                flex-direction: column;
                justify-content: space-between;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                h3 {
                    font-family: 'Zilla Slab', serif;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #fff;
                }
                span{
                    color:#b3b3b3;
                }
                .food-details{
                    display:flex;
                    padding: 0 30px 30px 10px;
                    justify-content: space-between;
                    align-items: center;
                    .cooking-information{
                        display:flex;
                        width: 100%;
                        height: auto;
                        justify-content: flex-end;
                        .cooking-time{
                            margin-right: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        .cooking-information-article{
                            margin-top: 10px;
                            font-family: 'Zilla Slab', serif;
                            font-size: 0.75rem;
                            font-weight: 700;
                            color: #fff;
                        }
                        @media(max-width: $tablet){
                            display:none;
                        }
                    }
                    .cooking-button{
                        a{
                            height: 40px;
                            font-size: .7rem;
                            padding: 15px 25px 15px 25px;
                            text-decoration: none;
                            font-weight: 600;
                            background:rgba(0,0,0,.6);
                            color: #fff;
                            border-radius: 6px;
                            transition: .2s ease-in-out;
                            &:hover{
                                background: #fff;
                                color: #000;
                                cursor: pointer;
                            }
                            @media(max-width: $tablet){
                                padding: 7px 45px 7px 45px;
                                font-size: .65rem;
                            }
                        }
                    }

                    @media(max-width: $laptop){
                        padding: 0 10px 30px 2px;
                    }
                    @media(max-width: $tablet){
                        justify-content: center;
                    }
                }
            }
            
            &:nth-child(2){
                flex: 58%;
            }
            @media(max-width: $laptop){
                &:nth-child(1){
                    flex: 50%;
                }
                flex: 25%;
            }
            @media(max-width: $tablet){
                height: 150px;
                flex: 33%;
                &:nth-child(1){
                    flex: 50%;
                }

                .food-info{
                    h3{
                        font-size: 0.8rem;
                    }
                    span{
                        font-size: 0.5rem;
                    }
                }
            }
        }
        @media (max-width:$laptop){
            margin-right: 5px;
            margin-left: 5px;
            height: auto;
            
        }
        @media (max-width:$tablet){
            margin-right: 5px;
            margin-left: 5px;
            height: 700px;
            
        }
    }
}

#categories-section{
    position: absolute;
    top: 75vh;
    left: 0;
    right: 0;
    background-color: #F7F7F7;
    height: 900px;
    .categories-container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        margin-right: 50px;
        margin-left: 50px;
        .categories-title{
            font-family: 'Zilla Slab', serif;
            font-size: 1.8rem;
            font-weight: 600;
            @media(max-width: $laptop){
                font-size: 1.55rem;
            }
            @media(max-width: $tablet){
                font-size: 1.2rem;
            }
        }
        .row-category{
            margin-top: 75px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            .c-box{
                display: flex;
                width: 23%;
                flex-direction: column;
                margin: 5px;
                border: 2px solid rgba(0, 0, 0, 0.349);
                border-radius: 5px;
                text-align: center;
                height: auto;
                .c-img{
                    img{
                        min-width: 100%;
                        height: 200px;
                        object-fit: cover;
                        @media(max-width: $laptop){
                            height: 180px;
                        }
                        @media(max-width: $tablet){
                            height: 100px;
                        }
                    }
                }
                span{
                    margin-top: 10px;
                    font-family: 'Zilla Slab', serif;
                    font-size: 1.5rem;
                    font-weight: 700;
                    @media(max-width: $laptop){
                        font-size: 1.1rem;
                    }
                    @media(max-width: $tablet){
                        font-size: .9rem;
                    }
                }
                .recipe-number{
                    width: 25%;
                    margin:10px auto;
                    background-color: #C7C8C7;
                    padding: 5px;
                    border-radius: 5px;
                    span{
                        font-family: 'Zilla Slab', serif;
                        font-size: .75rem;
                        font-weight: 600;
                        color: #fff;
                        @media(max-width: $laptop){
                            font-size: .6rem;
                        }
                        @media(max-width: $tablet){
                            font-size: .4rem;
                        }
                    }
                    @media(max-width: $laptop){
                        padding: 2px;
                    }
                    @media(max-width: $tablet){
                        width: 50%;
                    }
                }
                @media(max-width: $laptop){
                    width: 30%;
                }
                @media(max-width: $tablet){
                    width: 23%;
                    margin:0;
                    margin-top: 5px;
                    margin-left: 2px;
                }
            }
            @media(max-width: $laptop){
                margin-top: 35px;
            }
        }
        @media(max-width: $laptop){
            margin-top: 35px;
        }
        @media(max-width: $tablet){
            margin-top: 35px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media(max-width:$laptop){
        top: 100vh;
        height: 1000px;
    }

    @media(max-width:$tablet){
        top: 90vh;
        height: 550px;
    }
}

#most-liked-recipes{
    position: absolute;
    top: 175vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 200px;
    .carousel{
        position: relative;
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
    }
}